
.intro {
    text-align: center ; font-style: normal; margin-left: 80px;
}
.thankyou { text-align: center; font-style: normal; margin-left: 80px;

}
.welcome {
    background-color: rgb(142, 248, 216);
}
.order {
    text-align: left; 
}
